.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aliceblue;
}

.header,
.footer {
    padding: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    background-color: black;
    color: yellow;
}

.main {
    max-width: 1264px;
    width: 100%;
    align-self: center;
    flex-grow: 1;
    padding: 20px 12px;
}